body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* HEADER */
#headerTitle {
  line-height: 85px;
}

/* Footer */
#footerTitle {
  line-height: 45px;
}

/* HomePage */
.hp-container {
  display: flex;
  height: calc(100vh - 141px);
  overflow: hidden;
  text-align: center;
}

.hp-container div {
  flex-basis: 50%;
}

.hp-container #leftField {
  border-right: 2px solid black;
}

.hp-container #rightField {
  border-left: 2px solid black;
}

.hp-container #leftField #leftField-button {
  top: 50%
}

.hp-container #rightField #rightField-button {
  top: 50%
}